* {
  margin: 0;
}

html {
  --red: #fe2c2c;
  --week-day: #cccccc;
  --week-end: #f2f2f2;
  --bg-color: #eeeeee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--bg-color);
}

.calendar {
  height: 650px;
  width: 700px;
  margin: auto;
  margin-top: 200px;
}

.calendar-top {
  background-color: var(--red);
  color: white;
  display: flex;
  align-items: center;
  height: 15.4%;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 9px 9px 0 0;
}

.month-and-year {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
}

.month-and-year .year h1 {
  font-weight: normal;
}

.week-days {
  display: flex;
  justify-content: space-around;
  gap: 2px;
}

.week-day {
  width: 100%;
  background-color: var(--week-day);
  text-align: center;
  padding: 0.8rem;
  font-weight: bold;
}

.month-days {
  display: grid;
  grid-template-columns: repeat(7, 14.05%);
  gap: 2px;
  text-align: center;
  justify-content: center;
}

.day {
  background-color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.week-end {
  background-color: var(--week-end);
}

.not-this-month {
  color: rgba(0, 0, 0, 0.3);
}

.month-days .day h1 {
  font-weight: normal;
}

.today h1 {
  background-color: var(--red);
  color: white;
  padding: 10px 12px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
}
